+define+ABV_ON
+define+WT_DCACHE
+define+FVT
+define+CVA6_REPO_DIR=DESIGNDIR
+incdir+DESIGNDIR/core
+incdir+DESIGNDIR/common/submodules/common_cells/include/
+incdir+DESIGNDIR/common/submodules/common_cells/src/
+incdir+DESIGNDIR/common/local/util/
+incdir+DESIGNDIR/core/include/
-y DESIGNDIR/core/include/
DESIGNDIR/core/include/cv64a6_imafdc_sv39_config_pkg.sv
DESIGNDIR/core/include/riscv_pkg.sv
DESIGNDIR/corev_apu/riscv-dbg/src/dm_pkg.sv
DESIGNDIR/core/include/ariane_pkg.sv
DESIGNDIR/corev_apu/axi/src/axi_pkg.sv
DESIGNDIR/corev_apu/fpga-support/rtl/SyncSpRamBeNx64.sv
DESIGNDIR/core/include/ariane_rvfi_pkg.sv
DESIGNDIR/core/include/ariane_axi_pkg.sv
DESIGNDIR/core/include/wt_cache_pkg.sv
DESIGNDIR/core/include/std_cache_pkg.sv
DESIGNDIR/core/include/axi_intf.sv
DESIGNDIR/common/submodules/common_cells/src/fifo_v3.sv
DESIGNDIR/common/submodules/common_cells/src/lfsr.sv
DESIGNDIR/common/submodules/common_cells/src/lzc.sv
DESIGNDIR/common/submodules/common_cells/src/rr_arb_tree.sv
DESIGNDIR/common/submodules/common_cells/src/shift_reg.sv
DESIGNDIR/common/submodules/common_cells/src/unread.sv
DESIGNDIR/common/submodules/common_cells/src/popcount.sv
DESIGNDIR/common/submodules/common_cells/src/exp_backoff.sv
// Top-level source files (not necessarily instantiated at the top of the XXXX).
DESIGNDIR/core/alu.sv
DESIGNDIR/core/branch_unit.sv
DESIGNDIR/core/compressed_decoder.sv
DESIGNDIR/core/controller.sv
DESIGNDIR/core/csr_buffer.sv
DESIGNDIR/core/csr_regfile.sv
DESIGNDIR/core/decoder.sv
DESIGNDIR/core/ex_stage.sv
DESIGNDIR/core/instr_realign.sv
DESIGNDIR/core/id_stage.sv
DESIGNDIR/core/issue_read_operands.sv
DESIGNDIR/core/issue_stage.sv
DESIGNDIR/core/load_unit.sv
DESIGNDIR/core/load_store_unit.sv
DESIGNDIR/core/mult.sv
DESIGNDIR/core/multiplier.sv
DESIGNDIR/core/serdiv.sv
DESIGNDIR/core/perf_counters.sv
DESIGNDIR/core/ariane_regfile_ff.sv
DESIGNDIR/core/re_name.sv
// NOTE: scoreboard.sv modified for DSIM (unchanged for other simulators)
DESIGNDIR/core/scoreboard.sv
DESIGNDIR/core/store_buffer.sv
DESIGNDIR/core/amo_buffer.sv
DESIGNDIR/core/store_unit.sv
DESIGNDIR/core/commit_stage.sv
DESIGNDIR/core/axi_shim.sv

// What is "frontend"?
DESIGNDIR/core/frontend/btb.sv
DESIGNDIR/core/frontend/bht.sv
DESIGNDIR/core/frontend/ras.sv
DESIGNDIR/core/frontend/instr_scan.sv
DESIGNDIR/core/frontend/instr_queue.sv
DESIGNDIR/core/frontend/frontend.sv

// Cache subsystem
DESIGNDIR/core/cache_subsystem/wt_dcache_ctrl.sv
DESIGNDIR/core/cache_subsystem/wt_dcache_mem.sv
DESIGNDIR/core/cache_subsystem/wt_dcache_missunit.sv
DESIGNDIR/core/cache_subsystem/wt_dcache_wbuffer.sv
DESIGNDIR/core/cache_subsystem/wt_dcache.sv
DESIGNDIR/core/cache_subsystem/cva6_icache.sv
DESIGNDIR/core/cache_subsystem/wt_cache_subsystem.sv
DESIGNDIR/core/cache_subsystem/wt_axi_adapter.sv
DESIGNDIR/common/local/util/sram.sv

